In [1]:
import pandas as pd
import numpy as np

# For data visualization 
import seaborn as sns 
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
# Olympic_Sports_Medals_1896-2014_dataset
summer_df=pd.read_csv('../Datasets/Olympic_Sports_Medals_1896-2014_dataset/summer.csv')
winter_df=pd.read_csv('../Datasets/Olympic_Sports_Medals_1896-2014_dataset/winter.csv')
country_df = pd.read_csv('../Datasets/Olympic_Sports_Medals_1896-2014_dataset/dictionary.csv')

#120OlympicHistory_AthletesResults
athlete_events = pd.read_csv('../Datasets/120OlympicHistory_AthletesResults_dataset/athlete_events.csv')

In [4]:
print(country_df.head())
print(summer_df.head())
print(winter_df.head())

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN
   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
   Year      City     Sport Discipline               Athlete Country Gender  \
0  1924  Chamonix  Biathlon   Biathlon           BERTHET, G.     FRA    Men
1  1924  Chamonix  Biathlon   Biathlon        MANDRILLON, C.     FRA    Men
2  1924  Chamonix  Biathlon   Biathlon   MANDRILLON, Maurice     FRA    Men
3  1924  Chamonix  Biathlon   Biathlon       VANDELLE, Andr√©     FRA    Men
4  1924  Chamonix  Biathlon   Biathlon  AUFDENBLATTEN, Adolf     SUI    Men

             Event   Medal
0  Military Patrol  Bronze
1  Military Patrol  Bronze
2  Military Patrol  Bronze
3  Military Patrol  Bronze
4  Military Patrol    Gold

In [5]:
print(athlete_events.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN